<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <div class="row ">
        <div class="col-xs-12">
          <button type="submit" [disabled]="recipeForm.invalid" class="btn btn-success">Save</button>
          <button
            class="btn btn-danger"
            style="margin-left: 2px"
            (click)="onCancel()"
          >Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <div class="form-group">
            <label for="name">Name: </label>
            <input formControlName="name" type="text" class="form-control" id="name">
          </div>


        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <div class="form-group">
            <label for="imagePath">Image URl: </label>
            <input formControlName="imagePath" class="form-control" id="imagePath" #imagePath>
          </div>


        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <img [src]="imagePath.value" alt="" class="img-responsive">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <div class="form-group">
            <label for="description">Description </label>
            <textarea formControlName="description" class="form-control" id="description" rows="6"></textarea>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="col-xs-12" formArrayName="ingredients">

<!--        <span class="help-block">There is not ingredients added in this recipe</span>-->

        <div class="row"
             *ngFor="let ingredient of controls; let i = index"
             [formGroupName]="i"
             style="margin-top: 10px"
        >



            <div class="col-xs-8 col-md-6">
              <input formControlName="name" type="text" class="form-control">
            </div>

            <div class="col-xs-2 col-md-3">
              <input formControlName="amount" type="number" class="form-control">
            </div>

            <div class="col-xs-2 col-md-3">
              <button
                type="button"
                (click)="onDeleteIngredient(i)"
                class="btn btn-danger">
                X
              </button>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add New Ingredient</button>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>
</div>
